
.z-index-zero {
  z-index: 0;
}

.color-red {
  color: red;
  background: red;
}

.event-name-size {
  font-size: calc(4px + 2vmin);
  /* margin steps on elements and it's bad because sometimes events have backgrounds */
  margin-top: 5px;
  margin-bottom: 5px;
}

.fc-scroller {
  /* remove useless scroll */
  overflow: unset !important;
}
.fc-view-harness {
  /* remove useless scroll */
  z-index: 0;
}

.fc-daygrid-day-events {
  // bottom margin is 0.5em and since the size of the calendar is 'auto' it wants to expand a lot.
  margin-bottom: 0.1em !important;
}

.calendarStyleHacks {
  width: 100%; /* force full width in stack layout */
  max-width: 100%;
  height: 100%;
  overflow: hidden;
  flex-grow: 1;
}
