
.justify-sb {
  display: flex;
  justify-content: space-between;
}

.ident-left {
  margin-bottom: 10px;
  margin-left: 20px;
}

.div-border {
  border: black;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px;
  border-color: red;
  border-radius: 0.25em;
}
